
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Blog</title>
  </head>
  <body>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.body }}</p>
    Written By {{blog.author}}
    <!-- Written By {{blog.user.username}} -->
    <p>Published on {{blog.published_date}}</p> 
    <!-- <a type="button" class="btn btn-primary" href="{% url 'blog_details' id=blog.id %}">Edit</a> -->
    <a  href="{% url 'update' id=blog.id%}"><button type="button" class="btn btn-primary">Edit</button></a>
    <a  href="{% url 'delete' id=blog.id%}"><button type="button" class="btn btn-danger">Delete</button></a>

    <form action="{% url 'create_comment' %}" method="post">
      {% csrf_token %}

      <label for="name">Name</label>
      <input type="text" name="name" />
      <input type="hidden" name="blog_comment" value="{{ blog.id }}" />

      <label for="message">Comment</label>
      <textarea rows="4" cols="50" name="message"></textarea>

      <button type="submit">Submit</button>

    </form>

    <ul>
      {% for comment in blog.comments.all %}
      <li>
        <p>{{ comment.name }}</p>
        <p>{{ comment.message }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
