<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
  </head>
  <body>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.body }}</p>
    
     

    <form action="{% url 'create_comment' %}" method="post">
      {% csrf_token %}

      <label for="name">Name</label>
      <input type="text" name="name" />
      <input type="hidden" name="blog_comment" value="{{ blog.id }}" />

      <label for="message">Comment</label>
      <textarea rows="4" cols="50" name="message"></textarea>

      <button type="submit">Submit Comment</button>

    </form>

    <ul>
      {% for comment in blog.comments.all %}
      <li>
        <p>{{ comment.name }}</p>
        <p>{{ comment.message }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
