<h1>This is First Assignment</h1>
<h2>May23 2019</h2>

<p>what is a client? </p>
<p>client is web browser, mobile app or any other tools that can contact the server.</p>
<p>what is a server?</p>
<p>a server is a computer program or a device that provides functionality for other programs or devices which are clients.</p>
<p>what is an HTTP request?</p>
<p>It is an information request message from a client to a server over the hypertext transfer protocol (HTTP).</p>
<p>what is an HTTP response?</p>
<p>After receiving and interpreting a request message, a server responds with an HTTP response message.</p>
<p>what is Django and why do we use it?</p>
<p>Django is a free and open source Python web framework that helps to develop maintainable and secured websites rapidly.</p>